/*@import "mirotone/dist/styles.css";*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  display: flex;
}

#root {
  width: 100%;
  overflow: auto;
  padding: var(--space-medium);
}

.mt-medium {
  margin-top: 1rem;
}

.my-medium {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.py-medium {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.space-y-1 > * {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.w-100 {
  width: 100%;
  min-width: 100%;
}

.section-header {
  margin-top: 3rem;
}

/* Grid container for two-column layout */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: var(--space-medium); /* Space between grid items */
  align-items: start; /* Align items to the top */
}

/* Grid item styling */
.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
}

/* Style for the token images */
.draggable-item--image {
  max-width: 100%;
  height: auto;
  margin-bottom: var(--space-small); /* Space between image and title */
  border: 3px solid #fff;
  transition: border, 0.2s;
}

/* Style for the token title */
.token-title {
  text-align: center;
  font-size: 14px;
  color: #333;
}

/* Button spans full width of grid */
.grid-full-width {
  grid-column: span 2; /* Make the button span across both columns */
}

img {
  max-width: 100%;
  height: auto;
}

.draggable-item--image:hover {
  border: 3px solid #ccc;
  cursor: pointer;
}

.accordion-item:hover {
  cursor: pointer;
  user-select: none;
}

/* DICE ROLLER */
.dice-bar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /*gap: 3px;*/
}

.button--dice-roller {
  margin: 0 !important;
}

/* LOGS */
.log-records-wrapper{
  display: flex;
  flex-direction: column;
  height: 80vh;
  padding: 10px;
}

.log-records-list {
  flex-grow: 1;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  font-size: 18px;
}

.log-record {
  margin-bottom: 0.25rem;
  padding: 0.25rem;
}

.log-record:nth-child(even) {
  background-color: var(--indigo50);
}

.log-record--user {
  color: var(--green700);
}

.log-record--title {
  color: gray;
}

.log-record--timestamp {
  display: flex;
  color: var(--indigo200);
  font-size: 14px;
}

.log-record--timestamp .icon {
  color: var(--indigo200)!important;
}

