@import 'mirotone/dist/styles.css';

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  display: flex;
}

#root {
  width: 100%;
  overflow: auto;
  padding: var(--space-medium);
}

.mt-medium {
  margin-top: 1rem
}

.my-medium {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.space-y-1 > * {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.w-100 {
  width: 100%;
  min-width: 100%;
}

.section-header {
  margin-top: 3rem;
}